*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
body{
  background-color: #000;

}
h1,
h4,

p,
a{
  color: #fff;
  text-decoration: none;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(248, 217, 15);
  color: #222;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 40px;
}

.btn-light{
  background: transparent;
  color: #fff;
  
  
  }
.btn:hover{
  background: rgb(110, 25, 92);
  color: #fff;
  transition: 0,3s;
 
}
